<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Example Page</title>
	<link rel="stylesheet" type="text/css" href='css/style.css'>
	</link>

</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
	{{{ body }}}
	<script src="js/buttons.js"></script>
</body>
<script type="text/javascript" src="js/signup.js"></script>

</html>