<section id="hero">
        <div class="middle-box">
            <h1>What the Face</h1>

            <form autocomplete="off">
                <input type="text" id="productSearch" placeholder="Product Name">
                <button id="productBtn">Product Search</button>
                <input type="text" id="ingredientSearch" placeholder="Ingredient">
                <button id="ingredientBtn">Ingredient Search</button>
            </form>

        </div>

        <section id="results">

          {{#each data}}
            <p>{{this.ProductName}}</p>
            <p>Possibly harmful chemical found in this product: {{this.ChemicalName}}</p>
          {{/each}}

        </section>
    </section>