<section id="hero">
        <div class="middle-box">
            <h1>What the Face</h1>

            <form autocomplete="off">
                <input type="text" id="productSearch" placeholder="Product Name">
                <input type="text" id="brandSearch" placeholder="Ingredient">
                <button id="productBtn">Submit Your Search</button>
            </form>

        </div>

        <section id="results">

          {{data}}

        </section>
    </section>