<section id="hero">
    <div class="middle-box">
        <h1>What the Face</h1>

        <form autocomplete="off">
            <input type="text" id="productSearch" placeholder="Product Name">
            <button id="productBtn">Product Search</button>
            <input type="text" id="ingredientSearch" placeholder="Ingredient">
            <button id="ingredientBtn">Ingredient Search</button>
        </form>

    </div>

    <section id="results" class="container">

        {{#each products}}

        <div class="row">
            <div class="col-sm-5">
                <p class="category">{{this.PrimaryCategory}}</p>
            </div>
            <div class="col-sm-7">
                <h2>{{this.ProductName}}</h2>
                <h3>{{this.BrandName}}</h3>
                <p>Possibly harmful chemical found in this product: {{this.ChemicalName}}</p>
            </div>
        </div>
        {{/each}}




    </section>
</section>