<h1>Header 1</h1>

<p>Paragraph.</p>

<button id='seed_for_test'>seed_for_test</button>

<!-- Pass in data from server.js -->
<ul>
  {{#each data}}
  <div>
    <h3>List Item</h3>
    <li class="label">This: {{this.column1}} </li>
    <li class="label">This: {{this.column2}} </li>
    <li class="label">This: {{this.column3}} </li>
  </div>
  {{/each}}
</ul>