/* global */

body, html {
    height: 100%;
    background: #F5F5F5;
}

/* navbar */




/* hero section */
h1 {
    font-family: 'Major Mono Display';
}

#hero {
    min-height: 600px;
    text-align: center;
    background: white;
    padding: 10px;
}

.middle-box {
    /* background: yellow; */
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-box h1 {
    font-size: 80px;
}

.middle-box form {
    margin: 40px auto;
}

/* hero form */

#hero form {
    /* background: pink; */
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero form input[type="text"] {
    width: 50%;
    margin: 10px auto;
    border: solid 2px #F5F5F5;
    border-radius: 2px;
    display: inline-block;
    font-size: 18px;
    padding: 3px;
    padding-left: 20px;
}

#hero button {
    background: transparent;
    border: solid 1px #eee;
    color: #aaa;
    width: 20%;
    border-radius: 2px;
    margin: auto;
    padding: 3px;
    font-size: 16px;
}

/* results */

#results .row {
    /* background: pink; */
    padding: 20px;
    max-width: 1000px;
    margin: 100px auto;
}

#results h1 {
    text-align: right;
}

#results h2 {
    text-align: right;
    font-weight: 200;
}

#results p {
    text-align: left;
}

#results .row .col-md-5,
#results .row .col-md-7 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: middle;
}

#results img {
    display: block;
    margin: auto;
}