/* global */

body, html {
    height: 100%;
    font-family: 'Roboto';
<<<<<<< HEAD
=======
}

#hero button:hover {
    background: #eee;
    color: white;
    transition: 1s ease;
>>>>>>> c8f2b00039e277e81dea4768029e4ebffafb7788
}

/* navbar */

.navbar-light {
    background: white !important;
    position: relative;
    padding: 10px;
}

.navbar-brand {
    position: relative;
    left: 5%;
}

#navbarNav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: yellow; */
    width: 30%;
    max-width: 300px;
    position: absolute;
    right: 5%;
}

#navbarNav a {
    color: black;
    font-family: 'Roboto';
}

#navbarNav a:hover {
    text-decoration: line-through;
}

/* hero section */
h1 {
    font-family: 'Major Mono Display';
}

#hero {
    min-height: 600px;
    text-align: center;
    background: white;
    padding: 10px;
}

.middle-box {
    /* background: yellow; */
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-box h1 {
    font-size: 80px;
}

.middle-box form {
    margin: 40px auto;
}

/* hero form */

#hero form {
    /* background: pink; */
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero form input[type="text"] {
    width: 50%;
    margin: 10px auto;
    border: solid 2px #F5F5F5;
    border-radius: 2px;
    display: inline-block;
    font-size: 18px;
    padding: 3px;
    padding-left: 20px;
}

#hero button {
    background: transparent;
    border: solid 1px #eee;
    color: #aaa;
    width: 20%;
    border-radius: 2px;
    margin: auto;
    padding: 3px;
    font-size: 16px;
    transition: 1s ease;
}

/* results */

#results .row {
    /* background: pink; */
    padding: 20px;
    max-width: 1000px;
    margin: 100px auto 50px;
}

#results h2, #results h3 {
    text-align: left;
}
<<<<<<< HEAD


=======
>>>>>>> c8f2b00039e277e81dea4768029e4ebffafb7788

#results p {
    text-align: left;
    font-family: 'Roboto';
}

#results .row .col-md-5,
#results .row .col-md-7 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: middle;
}

<<<<<<< HEAD
=======
#results {
    margin: 100px auto;
}

.clear button {
    margin: 30px auto;
}


>>>>>>> c8f2b00039e277e81dea4768029e4ebffafb7788
/* footer */

footer {
    text-align: center;
    width: 100%;
    padding-bottom: 60px;
}

footer h5, footer h6 {
    font-weight: 200;
    font-family: 'Major Mono Display';
}